/* 按钮优化 */
.b3-button--cancel:not(#findResultsCount, #findMsg) {
    padding: 2px 10px;
    color: var(--b3-theme-on-surface);
    border: 1px solid var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-on-surface);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
     }
    }
    &:focus {
      background-color: var(--b3-theme-on-surface);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
      }
    }
}
div[data-key="dialog-opencard"] .b3-button:is([data-type="-2"], [data-type="-3"], [data-type="1"], [data-type="2"], [data-type="3"], [data-type="4"]) {
  padding: 8px 0 !important;
  color: var(--b3-theme-on-surface) !important;
  border: none !important;
  transition: var(--b3-transition);
  position: relative;
  overflow: visible !important;
  box-shadow: var(--b3-light-shadow);
  &:before {
    display: none !important;
  }
  &:hover {
    background-color: var(--b3-theme-primary) !important;
    color: #fff !important;
    &:before {
      display:none;
    }
  }
}
.b3-button--text {
    padding: 2px 10px;
    color: var(--b3-theme-primary);
    border: 1px solid var(--b3-theme-primary);
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
      }
    }
}
.b3-button--remove {
    padding: 2px 10px;
    color: var(--b3-theme-error);
    border: 1px solid var(--b3-theme-error);
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-error);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
     }
    }
    &:focus {
      background-color: var(--b3-theme-error);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
      }
    }
}
.b3-button[data-type="install"] {
    padding: 2px 10px;
    color: var(--b3-theme-primary);
    border: 1px solid var(--b3-theme-primary);
    background-color: rgba(255, 0, 0, 0) !important;
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
      }
    }
}
.b3-button.b3-button--success[data-type="feedback"] {
    padding: 2px 10px;
    color: var(--b3-theme-success);
    border: 1px solid var(--b3-theme-success);
    background-color: rgba(255, 0, 0, 0) !important;
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-success) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-success) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
      }
    }
}
.config-bazaar__panel .fn__flex.config-bazaar__title button:is([data-type="myPlugin"], [data-type="myTheme"], [data-type="myIcon"], [data-type="myTemplate"], [data-type="myWidget"]) {
    padding: 2px 10px;
    color: #fff;
    border: 1px solid var(--b3-theme-primary);
    background-color: var(--b3-theme-primary) !important;
    transition: var(--b3-transition-slow);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 1em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow) !important;
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(13.5em);
        transition: var(--b3-transition-slow);
      }
    }
}
div[data-key="dialog-setting"] .b3-dialog__container .config__tab-wrap .b3-button.b3-button--outline {
    padding: 2px 10px;
    color: var(--b3-theme-primary);
    border: 1px solid var(--b3-theme-primary);
    background-color: rgba(255, 0, 0, 0) !important;
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(20em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(20em);
        transition: var(--b3-transition);
      }
    }
}
div[data-key=dialog-globalsearch] button:is([data-type="saveCriterion"], [data-type="removeCriterion"]) {
    padding: 2px 10px;
    color: var(--b3-theme-primary);
    border: 1px solid var(--b3-theme-primary);
    background-color: rgba(255, 0, 0, 0) !important;
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
      }
    }
}
.fn__flex.config-account .b3-button.b3-button--big {
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -5.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(22em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(22em);
        transition: var(--b3-transition);
      }
    }
}
.fn__flex.config-account a[href="https://ld246.com/sponsor"] {
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -5.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(22em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(22em);
        transition: var(--b3-transition);
      }
    }
}
.protyle-font .b3-button.b3-button--remove.fn__block {
    padding: 2px 10px;
    color: var(--b3-theme-error);
    border: 1px solid var(--b3-theme-error);
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-error);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(25em);
        transition: var(--b3-transition);
     }
    }
    &:focus {
      background-color: var(--b3-theme-error);
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(25em);
        transition: var(--b3-transition);
      }
    }
}
div[data-key="dialog-opencard"] .card__main .b3-button.b3-button--cancel[data-type="-2"] {
    transition: var(--b3-transition);
    position: relative;
    color: var(--b3-theme-on-surface) !important;
    box-shadow: none !important;
    &:before {
      content: "";
      display: none !important;
    }
    &:hover {
      background-color: rgba(255, 0, 0, 0) !important;
      &:before {
        display: none !important;
     }
    }
}
div[data-key="dialog-opencard"] .b3-button.fn__flex-1[data-type="-1"] {
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: none !important;
  }
  &:hover {
    background-color: var(--b3-theme-primary) !important;
    filter: brightness(0.8);
    &:before {
      transform: skewX(-45deg) translateX(62em);
      transition: 0.2s;
   }
  }
}

/* 主菜单按钮 */
#barWorkspace {
    align-items: center;
    justify-content: center;
    min-width: 65px;
    height: 25px;
    padding: 2px 10px;
    color: var(--b3-theme-primary);
    border: 1px solid var(--b3-theme-primary);
    background-color: var(--b3-theme-primary) !important;
    transition: var(--b3-transition);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      background-color: rgba(255,255,255,0.5);
      height: 100%;
      width: 3em;
      display: block;
      position: absolute;
      top: 0;
      left: -4.5em;
      transform: skewX(-45deg) translateX(0);
      transition: none;
    }
    &:hover {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: 0.8s;
     }
    }
    &:focus {
      background-color: var(--b3-theme-primary) !important;
      color: #fff;
      &:before {
        transform: skewX(-45deg) translateX(17em);
        transition: var(--b3-transition);
      }
    }
}
#barWorkspace span.toolbar__text {
    font-family: "QYL fonts";
    font-size: 12px;
    font-weight: 600;
    color: white;
    text-transform: none;
}
#barWorkspace svg.toolbar__svg {
    color: white;
    opacity: 1;
    margin-top: 2.5px;
    display: none;
}
.b3-button--small.b3-button--outline:not(#findResultsCount) {
  padding: 2px 10px;
  color: var(--b3-theme-primary);
  border: 1px solid var(--b3-theme-primary);
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
    }
  }
}
.b3-button--small:not(.b3-button--outline):not(#findResultsCount, #findMsg) {
  padding: 2px 10px;
  color: #fff;
  border: 1px solid var(--b3-theme-primary);
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
    }
  }
}
#documentPropertiesClose {
  background-color: rgba(255, 0, 0, 0);
  padding: 2px 10px;
  color: var(--b3-theme-primary);
  border: 1px solid var(--b3-theme-primary);
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
    }
  }
}
.graph__panel .b3-button.b3-button--small.fn__block {
  background-color: rgba(255, 0, 0, 0);
  padding: 2px 10px;
  color: var(--b3-theme-primary);
  border: 1px solid var(--b3-theme-primary);
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(20em);
      transition: var(--b3-transition-slow);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(20em);
      transition: var(--b3-transition-slow);
    }
  }
}
.b3-button[data-type="install-t"] {
  padding: 2px 10px;
  color: var(--b3-theme-primary);
  border: 1px solid var(--b3-theme-primary);
  background-color: rgba(255, 0, 0, 0) !important;
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary) !important;
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(17em);
      transition: var(--b3-transition);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary) !important;
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(17em);
      transition: var(--b3-transition);
    }
  }
}
#windowControls {
  margin-right: 1.5px;
}
#minWindow, #restoreWindow {
  border-radius: var(--b3-border-radius);
  padding: 7px;
  margin: 4px;
  width: 28px;
  height: 26px;
}
:is(#minWindow, #restoreWindow) svg {
  width: 13.5px;
  height: 13.5px;
}
#maxWindow {
  border-radius: var(--b3-border-radius);
  padding: 8px;
  margin: 4px;
  width: 28px;
  height: 26px;
}
#maxWindow svg {
  width: 11px;
  height: 11px;
}
:is(#minWindow, #restoreWindow, #maxWindow):hover {
  background-color: var(--b3-theme-primary);
  color: #fff;
}
#closeWindow {
  border-radius: var(--b3-border-radius);
  padding: 8px;
  margin: 6px;
  width: 28px;
  height: 26px;
}
#closeWindow svg {
  width: 11px !important;
  height: 11px !important;
}
[data-type="rebuildIndex"].b3-button.b3-button--outline {
  padding: 2px 10px;
  color: var(--b3-theme-primary);
  border: 1px solid var(--b3-theme-primary);
  transition: var(--b3-transition);
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    width: 1em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
  }
  &:hover {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
   }
  }
  &:focus {
    background-color: var(--b3-theme-primary);
    color: #fff;
    &:before {
      transform: skewX(-45deg) translateX(13.5em);
      transition: var(--b3-transition-slow);
    }
  }
}