:root {
    --QYL-blockquote: rgb(110, 110, 110);
    --QYL-blockquote-background: rgb(247, 247, 247);
    --QYL-blockquote-svg: rgb(210, 210, 210);
    --QYL-blockquote-background: rgb(247, 247, 247);
    --QYL-task-block: var(--b3-theme-primary);
    --QYL-task-done: rgb(167, 167, 167);
    --QYL-coloful-block-red: rgb(210, 11, 11);
    --QYL-coloful-block-red-background: rgb(255, 219, 219);
    --QYL-coloful-block-orange: rgb(225, 155, 24);
    --QYL-coloful-block-orange-background: rgb(255, 239, 210);
    --QYL-coloful-block-green: rgb(10, 162, 23);
    --QYL-coloful-block-green-background: rgb(208, 242, 209);
    --QYL-coloful-block-blue: rgb(14, 106, 180);
    --QYL-coloful-block-blue-background: rgb(212, 236, 255);
    --QYL-coloful-block-purple: rgb(114, 14, 180);
    --QYL-coloful-block-purple-background: rgb(238, 212, 255);
    --QYL-coloful-block-pink: rgb(212, 80, 153);
    --QYL-coloful-block-pink-background: rgb(255, 226, 242);
}
/* 引述块 */
.protyle-wysiwyg blockquote::before, .protyle-wysiwyg .bq::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 100%;
    height: 100%;
    mask-image: url('../img/引用.svg');
    -webkit-mask-image: url('../img/引用.svg');
    -webkit-mask-repeat: no-repeat;
    background-color: var(--QYL-blockquote-svg);
    background-size: 20px 20px;
}
.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq {
    background-color: var(--QYL-blockquote-background);
    color: var(--QYL-blockquote);
    padding-top: 22px;
}
:is(.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq) :is(.protyle-wysiwyg blockquote, .protyle-wysiwyg .bq) {
    box-shadow: var(--QYL-shadow-highlight);
}
/* 分割线 */
.protyle-wysiwyg [data-node-id].hr>div::after {
    height: 3px;
    background-color: var(--QYL-gray);
}
/* 块标 */
.protyle-gutters { 
    transition: 0.15s; 
}
.protyle-gutters button:hover svg {
    color: var(--b3-theme-primary); 
    transition: var(--b3-color-transition);
}
.protyle-title.protyle-wysiwyg--attr span.protyle-title__icon.ariaLabel:hover svg {
    color: var(--b3-theme-primary); 
    transition: var(--b3-color-transition);
}
/* 表格 */
.b3-typography table td, .b3-typography table th, .protyle-wysiwyg table td, .protyle-wysiwyg table th, .b3-typography table tr:nth-child(even) td, .protyle-wysiwyg table tr:nth-child(even) td {
    border: 1.5px solid var(--QYL-black);
    background-color: rgba(255, 0, 0, 0);
}
/* 行级代码 */
.fn__code:nth-of-type(6n+1), .b3-typography code:not(.hljs):nth-of-type(6n+1),.b3-typography span[data-type~=code]:nth-of-type(6n+1),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+1),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+1) {
    color: var(--QYL-coloful-block-red);
}
.fn__code:nth-of-type(6n+2), .b3-typography code:not(.hljs):nth-of-type(6n+2),.b3-typography span[data-type~=code]:nth-of-type(6n+2),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+2),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+2) {
    color: var(--QYL-coloful-block-orange);
}
.fn__code:nth-of-type(6n+3), .b3-typography code:not(.hljs):nth-of-type(6n+3),.b3-typography span[data-type~=code]:nth-of-type(6n+3),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+3),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+3) {
    color: var(--QYL-coloful-block-green);
}
.fn__code:nth-of-type(6n+4), .b3-typography code:not(.hljs):nth-of-type(6n+4),.b3-typography span[data-type~=code]:nth-of-type(6n+4),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+4),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+4) {
    color: var(--QYL-coloful-block-blue);
}
.fn__code:nth-of-type(6n+5), .b3-typography code:not(.hljs):nth-of-type(6n+5),.b3-typography span[data-type~=code]:nth-of-type(6n+5),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+5),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+5) {
    color: var(--QYL-coloful-block-purple);
}
.fn__code:nth-of-type(6n+6), .b3-typography code:not(.hljs):nth-of-type(6n+6),.b3-typography span[data-type~=code]:nth-of-type(6n+6),.protyle-wysiwyg code:not(.hljs):nth-of-type(6n+6),.protyle-wysiwyg span[data-type~=code]:nth-of-type(6n+6) {
    color: var(--QYL-coloful-block-pink);
}
/* 标签 */
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+1) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-red);
    background-color: var(--QYL-coloful-block-red-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+1)::before {
    content: "#";
    color: var(--QYL-coloful-block-red);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+2) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-orange);
    background-color: var(--QYL-coloful-block-orange-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+2)::before {
    content: "#";
    color: var(--QYL-coloful-block-orange);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+3) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-green);
    background-color: var(--QYL-coloful-block-green-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+3)::before {
    content: "#";
    color: var(--QYL-coloful-block-green);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+4) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-blue);
    background-color: var(--QYL-coloful-block-blue-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+4)::before {
    content: "#";
    color: var(--QYL-coloful-block-blue);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+5) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-purple);
    background-color: var(--QYL-coloful-block-purple-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+5)::before {
    content: "#";
    color: var(--QYL-coloful-block-purple);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+6) {
    border-radius: var(--b3-border-radius);
    border: none;
    padding: 3px 5px;
    font-size: 80%;
    color: var(--QYL-coloful-block-pink);
    background-color: var(--QYL-coloful-block-pink-background);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag]:nth-of-type(6n+6)::before {
    content: "#";
    color: var(--QYL-coloful-block-pink);
    margin-right: 5px;
    position: relative;
    top: 0.5px;
}
/* 键盘元素 */
.b3-typography kbd, .b3-typography span[data-type~=kbd], .protyle-wysiwyg kbd, .protyle-wysiwyg span[data-type~=kbd] {
    border: var(--b3-border-radius);
    border-radius: 6px;
    box-shadow: inset 0 -2px 0 var(--b3-theme-surface-lighter);
    position: relative;
    bottom: 1px;
}
/* 嵌入块 */
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    box-shadow: var(--b3-dialog-shadow);
    border: none;
}
/* 行级备注 */
.b3-typography span[data-type~=inline-memo], .protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: rgba(255, 0, 0, 0);
    border-bottom: 2px dashed var(--b3-theme-primary);
    padding-bottom: 1.5px;
}
/* 行内文字背景 */
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-font-background"] {
    border-radius: 6px;
    padding: 2px 4px;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-error-background)"] {
    border-radius: 6px;
    padding: 2px 4px;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-warning-background)"] {
    border-radius: 6px;
    padding: 2px 4px;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-info-background)"] {
    border-radius: 6px;
    padding: 2px 4px;
}
:is(span[data-type*="text"], span[data-type*="strong"])[style*="background-color: var(--b3-card-success-background)"] {
    border-radius: 6px;
    padding: 2px 4px;
}
/* 列表、任务列表 */
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover {
    color: var(--b3-theme-primary);
}
.protyle .protyle-wysiwyg .li[data-subtype=o]>.protyle-action:hover::after, .protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover::after, .protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lightest);
}
.av__checkbox:hover, .av__firstcol svg:hover {
    color: var(--b3-theme-primary);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action::after {
    width: 22px;
    height: 22px;
    border-radius: 99px;
    top: 40%;
    left: 42%;
    background-color: var(--b3-theme-primary-lighter);
    transition: var(--b3-background-transition);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action:hover::after {
    background-color: var(--b3-theme-primary-lighter);
    transition: var(--b3-background-transition);
}
.protyle-wysiwyg [data-node-id].li[fold="1"]>.protyle-action {
    color: var(--b3-theme-primary);
    transition: var(--b3-color-transition);
}
/* 标记 */
span[data-type~=mark] {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0),var(--b3-protyle-inline-mark-background), var(--b3-protyle-inline-mark-background)) !important;
}
/* 任务列表复选框样式 */
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task svg {
    color: transparent;
}
div.protyle-action.protyle-action--task svg {
    color: transparent;
}
.av__cell-uncheck > svg {
    color: transparent;
}
.av__cell-check > svg {
    color: transparent;
}
.protyle-wysiwyg .li[data-subtype=t] .protyle-action--task::before, .av__cell-uncheck::before {
    content: "" !important;
    position: absolute;
    left: 6px;
    width: 34px;
    height: 25px;
    background-color: var(--QYL-task-block);
    -webkit-mask-image: url('../img/未勾选.svg');
    -webkit-mask-repeat: no-repeat;
}
.protyle-wysiwyg .li.protyle-task--done>.protyle-action--task::before, .av__cell-check::before {
    content: "" !important;
    position: absolute;
    width: 34px;
    height: 25px;
    background-color: var(--QYL-task-block);
    -webkit-mask-image: url('../img/勾选.svg');
    -webkit-mask-repeat: no-repeat;

}
.protyle-task--done>div[data-node-id].p {
    color: var(--QYL-task-done) !important;
}
/* 闪卡标识 */
.protyle-wysiwyg [data-node-id][custom-riff-decks] {
    box-shadow: -5px 0 0 0 var(--b3-protyle-inline-mark-background);
}