:root {
    --QYL-hover: rgba(255, 182, 211, 0.5); /* 主要悬停色 */
    --QYL-hover-hover: rgba(255, 182, 211, 0.6);/* 主要悬停色加深 */
    --QYL-hover-light: rgba(255, 182, 211, 0.2);/* 主要悬停色变浅 */
    --QYL-filetree: var(--b3-theme-background); /* 文档树、反链等背景色 */
    --b3-list-hover: var(--QYL-hover); /* 大部分悬停背景色 */
    --b3-toolbar-hover: var(--QYL-hover); /*顶部工具栏悬停背景色 */
    --b3-list-icon-hover: var(--QYL-hover-hover); /* 文档树按钮悬停色、面包屑栏按钮悬停色 */
    --b3-theme-primary: rgb(244, 139, 181); 
    --b3-theme-primary-light: rgba(244, 139, 181, 0.6); /* 主色0.5透明度 */
    --b3-theme-primary-lighter: rgba(244, 139, 181, 0.4); /* 主色0.3透明度 */
    --b3-theme-primary-lightest: rgba(244, 139, 181, 0.15); /* 主色0.1透明度 */
    --b3-protyle-inline-mark-background: rgb(139, 235, 144);/* 标记色 */
    --b3-theme-surface: rgb(250, 227, 235);
    --b3-theme-surface-light: rgba(250, 227, 235, 0.8); /* 面板色0.8透明度 */
    --b3-theme-surface-lighter: rgb(250, 220, 230);
    --b3-theme-background: #fff3f9;
    --b3-theme-background-light:rgb(248, 210, 229); /* 编辑器较多加深（不透明） */
    --b3-toolbar-blur-background: rgb(255, 244, 250); /* 失焦颜色 */
    --b3-scroll-color: rgb(244, 210, 223); /* 滚动条颜色 */
    --b3-menu-background: var(--b3-theme-background);
    --QYL-white: #fff; /* 通用白 */
    --QYL-black: #171717; /* 通用黑 */
    --QYL-gray: #bfbfbf; /* 通用灰 */
}
:root {
    --QYL-tab-nonactive: var(--QYL-hover-light); /* 非当前页签背景色 */
    --QYL-tab-nonactive-hover: var(--QYL-hover); /* 当前页签悬停背景色 */
    --QYL-tab-active: var(--QYL-hover); /* 当前页签背景色 */
    --QYL-tab-active-hover: var(--QYL-hover); /* 当前页签悬停背景色 */
    --QYL-tab-close-background: rgba(255, 0, 0, 0); /* 页签关闭按钮背景色 */
    --QYL-tab-close-color: rgba(255, 0, 0, 0); /* 页签关闭按钮颜色 */
    --QYL-tab-close-background-hover: rgba(255, 0, 0, 0); /* 页签关闭按钮悬停背景色(悬停在页签上） */
    --QYL-tab-close-color-hover: var(--b3-theme-on-background); /* 页签关闭按钮悬停颜色(悬停在页签上） */
    --QYL-tab-close-background-hover-close: var(--b3-theme-primary); /* 页签关闭按钮悬停背景色(悬停在关闭按钮上） */
    --QYL-tab-close-color-hover-close: var(--QYL-white); /* 页签关闭按钮悬停颜色(悬停在关闭按钮上） */
}
:root {
    --QYL-blockquote: rgb(228, 154, 184);
    --QYL-blockquote-background: rgb(255, 230, 242);
    --QYL-blockquote-svg: rgb(248, 197, 221);
    --QYL-task-block: var(--b3-theme-primary);
    --QYL-task-done: rgb(167, 167, 167);
    --QYL-coloful-block-red: rgb(210, 11, 11);
    --QYL-coloful-block-red-background: rgb(255, 219, 219);
    --QYL-coloful-block-orange: rgb(225, 155, 24);
    --QYL-coloful-block-orange-background: rgb(255, 239, 210);
    --QYL-coloful-block-green: rgb(10, 162, 23);
    --QYL-coloful-block-green-background: rgb(208, 242, 209);
    --QYL-coloful-block-blue: rgb(14, 106, 180);
    --QYL-coloful-block-blue-background: rgb(212, 236, 255);
    --QYL-coloful-block-purple: rgb(114, 14, 180);
    --QYL-coloful-block-purple-background: rgb(238, 212, 255);
    --QYL-coloful-block-pink: rgb(212, 80, 153);
    --QYL-coloful-block-pink-background: rgb(255, 226, 242);
}
:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: rgb(241, 205, 215);
    --QYL-input-border: var(--b3-theme-primary);
    --QYL-input-border-hover: rgb(214, 103, 145);
}
:root {
    --QYL-filter-background-theme: rgba(250, 227, 235, 0.5);
    --QYL-filter-wrap-background-theme: rgba(255, 246, 249, 0.6);
    --QYL-filter-fix-background-theme: rgba(250, 227, 235, 0.8);
}
:root {
    --QYL-account-background1: linear-gradient(to top, #f6c0cf, #f7c4d3, #f8c9d6, #f8cdda, #f9d1dd, #fad4df, #fbd7e2, #fcdae4, #fddde6, #fee1e8, #fee4ea, #ffe8ec);
    --QYL-account-background2: linear-gradient(to top, #f6c0cf, #f7c4d3, #f8c9d6, #f8cdda, #f9d1dd, #fad4df, #fbd7e2, #fcdae4, #fddde6, #fee1e8, #fee4ea, #ffe8ec);
}