:root {
    --QYL-switch-close: var(--QYL-white);
    --QYL-switch-close-background: rgb(222, 222, 222);
    --QYL-input-border: var(--QYL-gray);
    --QYL-input-border-hover: var(--b3-theme-primary);
}
/* 开关 */
.b3-switch {
    width: 32px;
    height: 18px;
    border: none;
    background-color: var(--QYL-switch-close-background);

}
.b3-switch::after {
    left: 8px;
    width: 12px;
    height: 12px;
    background-color: var(--QYL-switch-close);

}
label:hover .b3-switch:not(:disabled)::before, .b3-switch:hover:not(:disabled)::before {
    display: none;
}
.b3-switch:checked::after {
    left: 23px;
}
label:hover .b3-switch:checked:not(:disabled)::after, .b3-switch:checked:hover:not(:disabled)::after {
    background-color: var(--QYL-switch-close);
}
/* 输入框 */
.b3-text-field:not([data-type="av-search"]), .pcr-app .pcr-interaction .pcr-result {
    box-shadow:  0 0 0 .6px var(--QYL-input-border);
}
.b3-text-field:not(.b3-text-field--text):hover, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):hover {
    box-shadow:  0 0 0 1px var(--QYL-input-border-hover);
}
.b3-text-field:not(.b3-text-field--text):focus, .pcr-app .pcr-interaction .pcr-result:not(.b3-text-field--text):focus {
    box-shadow:  0 0 0 1px var(--QYL-input-border-hover);
}
.search__header .b3-form__icon-icon {
    z-index: 10; /*临时修复毛玻璃部分输入框图标不可见 */
}
/* 下拉框 */
.b3-select {
    box-shadow:  0 0 0 .6px var(--QYL-input-border);
}
.b3-select:hover {
    box-shadow:  0 0 0 1px var(--QYL-input-border-hover);
    background-color: var(--b3-theme-background);
}
/* 块提示 */
.p.highlight {
    box-shadow: var(--QYL-shadow-highlight) !important;
    transition: var(--b3-transition) !important;
}
.p.highlight:hover {
    box-shadow: var(--QYL-shadow-highlight) !important;
    transition: var(--b3-transition) !important;
}